Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 0
TabWidth: 4
UseTab: Always
IndentWidth: 4

AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignOperands: false
AlignTrailingComments: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BraceWrapping:
  AfterCaseLabel:        true
  AfterClass:            true
  AfterControlStatement: true
  AfterEnum:             true
  AfterFunction:         true
  AfterNamespace:        true
  AfterStruct:           true
  AfterUnion:            true
  SplitEmptyFunction:    false
  SplitEmptyRecord:      false
BreakBeforeBraces: Custom
BreakConstructorInitializersBeforeComma: true
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Middle
ReflowComments: false
SortIncludes: false
